@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
   
body{
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
}
header{
    background-color: lightgray;
    padding: 5px;
    border-bottom: 1px solid black;
    outline: 2px solid green;
    position: sticky;
    top: 0;
    z-index: 1;
}
#notificacao{
    background-color: #00ffff8b;
    padding: 20px;
    border-radius: 50px;
    border: 3px solid black;
    outline: 3px solid lightcoral;
    font-size: 14pt;
    font-weight: 500;
}
main{
    background-attachment: fixed;
    background-image: url('ab.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
#interacao{
  display: grid;
  grid-template-columns: 40px 1fr 150px 1fr 40px;
  grid-template-rows: 147px 200px 50px 200px 147px;
  gap: 5px;
  background-image: url('ab.PNG');
  background-repeat: no-repeat;
  background-size: cover;
}
#mensagem{
    display: flex;
    justify-items: center;
    align-items: center;
    color: red;
    grid-row: 2/3;
    grid-column: 2/5;
    text-align: center;
    background-color: #000000a7;
    font-size: 19pt;
    width: 300px;
    border-radius: 20px;
    z-index: 0;
}
#transparente{
    background-color: #000000be;
    grid-row: 1/6;
    grid-column: 1/6;
}
#inicio{
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 10px;
    border-radius: 10px;
    font-size: 14pt;
    z-index: 0;
}
.todos{
    width: 253px;
    height: 253px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;   
    margin: auto;
    margin-bottom: 10px;     
}
#sentimentos{
    font-size: 30pt;
    padding: 5px;
    display: none; 
   
}
#letra1{
    background-color: aqua;
}
#letra2{
    background-color: brown;
}
#letra3{
    background-color: chartreuse;
}
#letra4{
    background-color: blueviolet;
}
#letra5{
    background-color: chocolate;
}
#letra6{
    background-color: cornflowerblue;
}
#letra7{
    background-color: aqua;
}
#letra8{
    background-color: brown;
}
#letra9{
    background-color: chartreuse;
}
#letra10{
    background-color: blueviolet;
}
#letra11{
    background-color: chocolate;
}
#letra12{
    background-color: cornflowerblue;
}
#letra13{
    background-color: aqua;
}
#letra14{
    background-color: brown;
}
#letra15{
    background-color: chartreuse;
}
#letra16{
    background-color: blueviolet;
}
#letra17{
    background-color: chocolate;
}
#letra18{
    background-color: cornflowerblue;
}
#letra19{
    background-color: aqua;
}
#letra20{
    background-color: brown;
}
#letra21{
    background-color: chartreuse;
}
#letra22{
    background-color: blueviolet;
}
#letra23{
    background-color: chocolate;
}
#letra24{
    background-color: cornflowerblue;
}
#letra25{
    background-color: chocolate;
}
#letra26{
    background-color: cornflowerblue;
}
footer{
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    position: sticky;
    bottom: 0;
    z-index: 1;
   
}