@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html{
   background-color: lightgray;
   height: 100vh;
}
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-image: linear-gradient(to bottom, white, lightgray);
background-repeat: no-repeat;
}
header{
padding: 5px;
border-bottom: 2px solid black;
outline: 2px solid #0073ff;
/*Para manter o cabeçalho fixo
position: sticky;
top: 0;
z-index: 1;*/
}
main{
  display: grid;
  grid-template-columns: 5px 1fr 100px 100px 1fr 5px;
  grid-template-rows: 1fr 50px 50px 50px 50px;
  gap: 30px;
  padding: 5px; 
  height: 85vh;
}
#pontua{
    grid-area: 1/1 / 1/3;
    display: none;
}
#botao{
    display: block;
    grid-column: 3 /5;
    grid-row: 2/3;
    border-radius: 15px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
}
.emcomumb{
    background-color: white;
}
   .emcomumb:hover{
    cursor: pointer;
    background-color: #80808064;
   }
#regresso{
    display: none;
    grid-column: 3 /5;
    grid-row: 2/3;
    border-radius: 15px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
}
#regresso2{
    display: none;
    grid-column: 3 /5;
    grid-row: 5/6;
    border-radius: 15px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
}
#botao2{
    grid-column: 3 / 4;
    grid-row: 2/3;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    display: none;
}
#botao3{
    grid-column: 4 / 5;
    grid-row: 2/3;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    display: none;
}
#segbotao2{
    grid-column: 3 / 4;
    grid-row: 2/3;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    display: none;
}
#segbotao3{
    grid-column: 4 / 5;
    grid-row: 2/3;
    border-radius: 10px;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    display: none;
}
#pergunta{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta2{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta3{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta4{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta5{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta6{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta7{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta8{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta9{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta10{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta11{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta12{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta13{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta14{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta15{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta16{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta17{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta18{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta19{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta20{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta21{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta22{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta23{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta24{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta25{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta26{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta27{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta28{
    grid-column: 2 /6;
    grid-row: 2/3;
    font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta29{
    grid-area: 3/2 / 4/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#pergunta30{
    grid-area: 4/2 / 5/6;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
/*Secção dos botões próximo*/
#proximo{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo2{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo3{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo4{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo5{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo6{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo7{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo8{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo9{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#proximo10{
    grid-area: 5/3 / 6/5;
     font-size: 14pt;
    font-weight: bold;
    outline: 2px solid #0073ff;
    border-radius: 10px;
    display: none; 
}
#texto{
    grid-column: 1 / 7;
    grid-row: 1/ 2;
    border-radius: 50%;
    background-color: #ffff00b9;
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr  50px;
    grid-template-rows: 1fr 1fr 1fr;
    border: 8px solid white;
    outline: 8px solid #0073ff;
}
#texto1{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 18pt;
}
footer{
    text-align: center;
    font-size: 14pt;
    padding: 5px;
}